<%- include('./partials/header.ejs') %>
<div class="content">
  <div class="center-container">
    <div class="m-80">
      <p>Welcome to GamesBarter.</p>
      <p>
        GamesBarter is a platform to buy, sell and compare games of any platform that u want to.
      </p>
      <p>You can go through the trades section to check the available trades for games.</p>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs') %>
